@charset "UTF-8";

:root{
    --color01:#5a189a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background:
    radial-gradient(
        circle at center,
        var(--color01) 0%,
        #2a0446 40%,
        #12001d 70%,
        #000000 100%
    );

    color: white;
    box-shadow: inset 0px -150px 100px black;

    animation: brilho 2s infinite ease-in-out;
}

@keyframes brilho{

    0%{
        background:
        radial-gradient(
            circle at center,
            var(--color01) 0%,
            #2a0446 40%,
            #12001d 70%,
            #000000 100%
        );
    }

    50%{
        background:
        radial-gradient(
            circle at center,
            var(--color01) 5%,
            #2a0446 40%,
            #12001d 70%,
            #000000 100%
        );
    }

    100%{
        background:
        radial-gradient(
            circle at center,
            var(--color01) 0%,
            #2a0446 40%,
            #12001d 70%,
            #000000 100%
        );
    }
}

/* ===== TOPO ===== */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    margin: 10px;

    background-color: #000;
    border: 1px solid var(--color01);
    border-radius: 8px;
}


.conta a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;

    padding: 2px ;
    border-radius: 4px;

    transition: all 0.25s ease;
}

.conta a:hover {
    background-color: var(--color01);
    transform: translateY(-2px);
    box-shadow: 0 0 10px var(--color01);
}

/* ===== LAYOUT ===== */

main {
  
    max-width: 1100px;
    min-height: calc(100vh - 125px);
    margin: auto;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;

}

/* ===== HERO ===== */

.hero {
    grid-column: 2 / 3;
    text-align: center;
    
    align-content: center;
    padding: 30px;
    height: calc(100vh - 50px);


}

.hero h1 {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.103);
    margin: auto;
    width: 90%;
    font-size: 4.5rem;
    margin-bottom: 15px;
}

.hero h1 span {
    color: yellow;
}

.hero p {
    color: #ccc;
    max-width: 600px;
    margin: auto;
    line-height: 1;
    font-size: 1.6em;
}

.cta {
    margin-top: 25px;
}

.cta a {
    background: var(--color01);
    padding: 14px 28px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.cta a:hover {
    transform: translateY(-2px);
}

/* ===== FEATURES ===== */

.features {
    grid-column: 2 / 3;
    display: grid;
    gap: 20px;
}

/* PROBLEMA */

.problema{
    grid-column: 2 ;
    border-top: 1px solid rgba(255, 255, 255, 0.377);
    padding: 10px;
}

.problema h2{
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
}

.grid-problema {
    text-align: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card-p{
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid #5a189a;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.card-p p{
    font-size: 1.2em;
}


#bad {
    color: #ff5c5c;

}

#good {
    color: #6cff8d;
}

/* STATS */

.stats {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.stats h3 {
    font-size: 2rem;
    color: #5a189a;
}

/* ===== CARD ===== */

.card {
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid #5a189a;
    padding: 25px;
    border-radius: 10px;
}

.card h3 {
    text-align: center;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2em;
    text-align: justify;
    color: #ccc;
    text-align: center;
    line-height: 1.4;
}

/* ===== CADASTRO ===== */

.cadastro {
    grid-column: 2 / 3;
    max-width: 400px;
    margin: auto;
}

.cadastro form {
    background: #07000859;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #5a189a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    filter: brightness(0.9);
}

/* ===== FOOTER ===== */

footer {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    background: #000;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #5a189a;
}

/* ===== RESPONSIVO ===== */

@media (min-width: 768px) {
    .conta a{
        padding: 15px;
    }
}