@charset "UTF-8";

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial, sans-serif; 
  }

body{ 
  background: #f6f6fb;
}

.topbar {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}

main{
  display: grid;
  height: calc(100vh - 105px);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 30% 1fr;
  background-color: #ffffff;
  padding: 15px;
}

.card {
  max-width: 700px;
  width: 100%;
  flex: auto;
  grid-column: 2;
  margin: 5px auto;
  background: white;
  padding: 22px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#pesq{
  display: flex;
  flex-direction: column;
  grid-row: 1;
}

#list-prod{
  height: 100%;
  width: 100%;
  grid-row: 2;
}

label { display:block; margin-top:12px; font-weight:600; }
input {
  width:100%;
  padding:10px;
  border:1px solid #ddd;
  border-radius:10px;
  margin-top:6px;
}

button {
  margin-top: 0px;
  padding: 10px 10px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  background: #5a189a;
  color: white;
  font-weight: 700;
  margin-left: auto;
}
.error {
   color: #b00020; 
   margin-top: 10px; }



.row {
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
}

.row input { 
  background-color: rgb(233, 231, 227);
  width: 100%; 
  min-width: 100px; 
}

.list {
  list-style: none; 
  padding: 0; 
  margin: 0;
  max-width: 100%;
  
  
  max-height: 50VH; 
  overflow-y: auto; 
}

.item{
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 140px 120px; /* produto | qtd | ações */
  align-items: center;
}


.item .qtd{
  text-align: center;
}

.item .acoes{
  display: flex;
  justify-content: flex-end;
}

.item > div:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;     
}


.titulo{
  font-weight: bolder;
  
  padding-bottom: 2px;
}

.res {
    text-align: center;
}

button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

footer{
  padding: 10px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;

  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
}

footer p a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer p a:hover{
  color: #5a189a;
  transition: 0.5s;
}

@media screen and (min-width: 768px){
  main{
    grid-template-columns: auto 1fr 50vw auto;
    gap: 10px;
  }
  
  #pesq{
    grid-column: 1 / 3;
    transition: 0.8s ease;
  }
  #list-prod{
    grid-column: 3;
    grid-row: 1 / 3;
    transition: 0.8s ease;
  }

  .list{
    max-height: 76vh;
  }
}
