@charset "UTF-8";

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Arial, sans-serif; 
  }

body{ 
  background: #f6f6fb;
}

main{
  display: grid;
  height: calc(100vh - 108px);
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 30% 1fr;
  background-color: #000000;
  padding: 15px;
}

.card {
  max-width: 700px;
  width: 100%;
  flex: auto;
  grid-column: 2;
  margin: 5px auto;
  background: white;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(150, 38, 255);
}

#pesq{
  display: flex;
  flex-direction: column;
  grid-row: 1;
}

#list-prod{
  height: 100%;
  width: 100%;
  grid-row: 2;
}

label { display:block; margin-top:12px; font-weight:600; }
input {
  width:100%;
  padding:10px;
  border:1px solid #ddd;
  border-radius:10px;
  margin-top:6px;
}

button {
  margin-top: 5px;
  padding: 10px 10px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  background: #5a189a;
  color: white;
  font-weight: 700;
  margin-left: auto;
}

button.secondary {
  background: #e8e8f3;
  color: #222;
}

.error {
   color: #b00020; 
   margin-top: 10px; }

.topbar {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #37105e;
  box-shadow: 0 6px 14px rgba(0,0,0,.06);
}

.row {
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
}

.row input { 
  background-color: rgb(233, 231, 227);
  width: 100%; 
  min-width: 120px; 
}

.list {
  list-style: none; 
  padding: 0; 
  margin: 0;
  width: 100%; 
}

.item {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.titulo{
  font-weight: bolder;
  
  padding-bottom: 2px;
}


button:hover { 
  background-color: #000000;
  color: #ffffff;
  cursor: not-allowed; 
  transition: 0.3s;
}

footer{
  padding: 10px;
  color: #e8e8f3;
  background-color: #37105e;
  text-align: center;

  font-family: 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

footer p{
  padding: 2px;
}

footer p a{
  color: white;
  text-decoration: none;
}

footer p a:hover{
  color: yellow;
  transition: 0.5s;
}

@media screen and (min-width: 768px){
  main{
    grid-template-columns: auto 1fr 50vw auto;
    gap: 10px;
  }
  
  #pesq{
    grid-column: 1 / 3;
    transition: 0.8s ease;
  }
  #list-prod{
    grid-column: 3;
    grid-row: 1 / 3;
    transition: 0.8s ease;
  }
}
