<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="../static/box.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/0be98ff33e.js" crossorigin="anonymous"></script>
  <title>Dashboard - Estoque</title>
</head>
<body>
  <header class="topbar">
    <h2>ESTOQUE</h2>
    <div class="conta">
      <h1><i class="fa-solid fa-user"></i>{{ username }} </h1>
      <a href="/logout">Sair</a>
    </div>
  </header>

  <main class="container">
    <section class="card" id="pesq">
      <h3>Adicionar produto:</h3>
      <form method="post" action="/add" class="row">
          <input name="name" placeholder="Nome do produto" required>
          <input name="codigo" placeholder="Codigo" type="text" required>
          <input name="marca" placeholder="Marca do produto" type="text" required>
          <input name="categoria" placeholder="Categoria" type="text" required>
          <input type="number" name="price" placeholder="Preço" required min="0" step="0.01">
          <input name="qty" type="number" placeholder="Quantidade" required min="0" >
          <button type="submit">Adicionar</button>
      </form>
    </section>

    <section class="card" id="list-prod">
      <h3>Produtos</h3>
        <ul class="list">
          {% for p in products %}
            <li class="item">
              <div class="qtd">
                <p class="titulo">Produto:</p>
                {{ p["name"] }}
              </div>

              <div class="qtd">
                <p class="titulo">Código:</p>
                {{ p["codigo"] }}
              </div>

              <div class="qtd">
                <p class="titulo">Marca:</p>
                {{ p["marca"] }}
              </div>

              <div class="qtd">
                <p class="titulo">Categoria:</p>
                {{ p["categoria"] }}
              </div>

              <div class="qtd">
                <p class="titulo">Preço:</p>
                R$ {{ p["price"] }}
              </div>

              <div class="qtd">
                <p class="titulo">Quantidade:</p>
                {{ p["quantity"] }}
              </div>
              <div class="acoes">
                <form action="/remove/{{ p['id'] }}" method="post">
                  <button type="submit">Remover</button>
                </form>
            </div>
          </li>
          {% endfor %}
        </ul>
    </section>
    <section class="card" id="card-relatorio">
      <h3>Relatório</h3>
      <div class="rel">
          <p>Total de produtos: </p>
          <p>{{ total_products }}</p>
      </div>
      <div class="rel">
        <p>Total de categorias: </p>
        <p>{{ total_categories }}</p>
      </div>
    </section>

    <section class="card" id="card-gast">
      <h3>Gastos:</h3>
      <div class="rel">
        <p>Total gasto: </p>
        <p>R$ {{ '%.2f'|format(total_spent) }}</p>
      </div>
    </section>
  </main>
  <footer>
    <p>Sistema de estoque com HTML,CSS,PYTHON e SQlite.</p>
    <p><a href="https://github.com/Devsantosz" target="_blank">DEVSANTOSZ </a>&copy</p>
  </footer>
</body>
</html>
